.blog-display {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-display h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.blog-display p {
  margin-bottom: 15px;
}

.related-videos ul {
  padding-left: 20px;
}

.image-gallery {
  margin-top: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  display: flex;

  flex-wrap: wrap;
}

.image-gallery img {
  max-width: 200px; /* Limit image width */
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 10px;
}

.image-gallery img:hover {
  transform: scale(1.1);
}

.related-videos {
  margin-top: 20px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.video-wrapper {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.video-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.video-wrapper img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .blog-display {
    padding: 15px;
  }

  .image-gallery img {
    max-width: 40%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .video-wrapper {
    width: 100%;
  }
}



.image-gallery.collage img {
  width: 100%;
  height: auto;
}
