.blog-collection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-collection a {
  text-decoration: none;
}

.blog-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.blog-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-text {
  flex: 1;
  margin-right: 20px;
  /* Ensure there's space between text and image */
}

.blog-heading {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #333;
}

.blog-subheading {
  font-size: 1.2em;
  margin: 0;
  color: #777;
  height: 100px;
  overflow: hidden;
}

.blog-image-container {
  flex-shrink: 0;
  /* Prevent the image container from shrinking */
}

.blog-image {
  width: 100%;
  /* Make sure the image takes up the full width of the container */
  max-width: 200px;
  /* Ensure the image doesn't exceed the specified width */
  height: auto;
  border-radius: 10px;
  display: block;
  /* Make sure the image is displayed as a block element */
  margin: 0 auto;
  /* Center the image within its container */
}

@media screen and (max-width: 768px) {
  .blog-entry {
    padding: 15px 15px;
  }

  .blog-text {
    margin-right: 0;
    /* Remove margin on smaller screens */
  }

  .blog-heading {
    font-size: 1rem;
  }

  .blog-subheading {
    font-size: 0.8rem;
    height: 44px;
    overflow: hidden;
  }

  .blog-image-container {
    margin-left: 0;
    margin-top: 20px;
    width: 40%;
    text-align: center;
  }

  .blog-image {
    width: 65%;
    /* Ensure the image takes the full width */
    max-width: 70%;
    /* Allow the image to be responsive and fill its container */
    margin: 0 auto;
    /* Center the image */
  }
}