/* Blog Container */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading */
  .blog-container h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Picture Gallery */
  .picture-gallery {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-bottom: 20px;
  }
  
  .picture-gallery img {
    width: 300px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between images */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  /* Section */
  .section {
    margin-bottom: 30px;
  }
  
  .section h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .section p {
    font-size: 16px;
    color: #777;
  }
  
  /* Contact Info */
  .contact-info {
    border-top: 2px solid #ccc;
    padding-top: 20px;
  }
  
  .contact-info h2 {
    color: #555;
    margin-top: 0;
  }
  
  .contact-info p {
    color: #777;
    font-size: 16px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .blog-container {
      padding: 10px;
    }
  
    .picture-gallery img {
      width: 200px; /* Adjust image width for smaller screens */
    }
  }
  @media (min-width: 1440px){
    .blog-container{
      max-width: 84%;
    }
    .blog-container h1{
      font-size: 40px;
    }
    .section h2{
      font-size: 43px;
    }
    .section p{
      font-size: 30px;
    }
  }

  @media (min-width:376px) and (max-width:426px){
    .search-bar-m input[type="text"], .search-bar-l input[type="text"]{
      width: 222px;
    }
  }
  